*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: scroll; 
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.container{
    background-color: #FFFDFA;
}


/* nav */

nav{
    height: 20vh;
    width: 100%;
    display: flex;
    padding: 15px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 2;
    padding: 50px;
    font-size: 28px;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex: 1;
    text-align: center;
    padding: 50px;
}

.login-button{
    font-size: 30px;
    background-color: #FFFDFA;
}

.login-button-login{
    border: none;
    font-weight: 700;
}

.login-button-cadastro{
    border: #F9DF73 solid 3px;
    border-radius: 15px;
    padding: 5px 25px;
}


/* header */

.corpo{
    height: 60vh;
    width: 100%;
    display: flex;
}

.corpo div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.corpo-convite{
    flex-direction: column;
    gap: 20px;
}

.corpo-convite p{
    font-size: 36px;
    margin: 50px;
}

.corpo-convite p span{
    color: #7676F0;
}

.corpo-convite-cadastro{
    background-color: #F9DF73;
    font-size: 30px;
    font-weight: 700;
    padding: 30px;
    border-radius: 15px;
}

.corpo-convite-login{
    font-size: 28px;
    border: none;
    background-color: none;
}