*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
}

.container{
    background-color: #7676F0;
    height: 100vh;
    display: flex;
}

/* nav */

nav {
  width: 20%;
  height: 100vh;
  padding: 80px 0 0 0; /* Remove padding esquerdo */
  background-color: #7676F0; /* Garante que a barra azul cubra até a borda */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  flex-shrink: 0;
}

.logo {
  text-align: center;
  width: 100%;
  font-size: 22px;
}

.menu {
  list-style: none;
  width: 100%;
}

.menu li {
  padding: 12px 24px;
  margin: 10px 0;
  cursor: pointer;
  transition: all 0.3s ease;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 28px;
}


/* Item ativo com destaque */
.menu li.active {
  background-color: #f4e66c;
  color: black;
  font-weight: bold;
  padding: 16px 28px;
  font-size: 28px;
  transform: scale(1.05);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}


/* header */

header{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudo{
  height: 80%;
  width: 80%;
  background-color: aliceblue;
  border-radius: 25px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.conteudo div{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ul-tema{
  display: flex;
  flex-direction: row;
  gap: 50px;
}

ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li{
  list-style-type: none;
  font-size: 25px;
}

button{
  border: none;
  background: none;
  font-size: 25px;
}

.suporte button{
  font-weight: bold;
}